@if (ViewData["ErrorTitle"] == null)
{
    <h3>
        An error occured while processing your request, support team has been notified we're working tirellessly to fix it
    </h3>
<h5>
    Please Contact us at amaemechris@gmail.com for support
    </h5>
}
else
{
    <div class="alert alert-success text-align-content-center  mt-5"> 
        <h1 class="text-danger">@ViewData["ErrorTitle"]</h1>
        <h6 class="text-danger">@ViewData["ErrorMessage"]</h6>
    </div>
}
<hr/>
@*<h3>Eception Details:</h3>
<div class= "alert alert-danger">
    <h5>Exception Path</h5>
    <hr/>
    <p>@ViewBag.ExceptionPath</p>
</div>
<div class= "alert alert-danger">
    <h5>Exception Message</h5>
    <hr/>
    <p>@ViewBag.Message</p>
</div>
<div class= "alert alert-danger">
    <h5>Exception Stack Trace</h5>
    <hr/>
    <p>@ViewBag.Stack-Trace</p>
</div>
*@