@using EmployeeManagement2.Models
@model IEnumerable<Employee> 

@{ 
    Layout = "~/Views/shared/_Layout.cshtml";
    ViewBag.Title = "Employee Lists";
}
            <div class="card-group">
                @foreach (var employee in Model)
                {
                    var Photopath = "~/images/" + (employee.PhotoPath ?? "car.jpg");
                    <div class="card m-3" style="min-width:19rem; max-width:30.5px; ">
                        <img src="@Photopath" class="card-img-top imgThumbnail" alt="..." asp-append-version="true">
                        <div class="card-body">
                            <h5 class="card-title">@employee.Name</h5>
                            <p class="card-text">@employee.Department</p>
                            <p class="card-text">@employee.Id</p>
                            <a asp-controller="home" asp-action="details" asp-route-id="@employee.encryptedId" class="btn btn-primary m-1">View</a>
                            <a asp-controller="home" asp-action="Edit" asp-route-id="@employee.encryptedId"class="btn btn-primary m-1">Edit</a>
                            <a asp-controller="home" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger m-1">Delete</a>
                        </div>
                    </div>

                }
             </div>

     
        
